header > nav:first-child {
    margin: 0;
}

header > nav:nth-child(2) > h1 {
    color: #ffffff;
    text-align: center;
    margin: 10px 0;
}

#title-wrapper {
    top: 60px;
}

body > .container {
    padding: 150px 0px 70px;
}

.text-white {
    color: #ffffff !important;
}